body {
  overflow: hidden;
  background-color: black;
  font-family: "Avenir", Courier, monospace;
  color: black;
}
* {
  font-family: "Avenir";
}
#defaultCanvas0 {
  width: 100%;
  z-index: 1;
  margin: 0px auto;
  display: block;
}
.canvasRotation {
  transform: rotateX(180deg);
}
.sync {
  transform: rotate(90deg);
}
nav {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap;
  height: 70px;
  background-color: black;
  margin-bottom: 20px;
}
.scroll::-webkit-scrollbar {
  display: none;
}
nav li {
  display: block;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.3s ease-out;
}
.button-container {
  display: inline-block;
  margin: 0 auto;
}
.buttons {
  color: black;
  font-size: 19px;
  padding: 7px 25px;
  border: none;
  background: white;
  border-radius: 5px;
}
.sort:hover {
  cursor: pointer;
  background: #eee;
}
.sort .rangesSection {
  display: inline-block;
}
.range {
  border-radius: 30px;
  border: none;
  background: black;
  outline: none;
  vertical-align: middle;
  overflow: hidden;
  transform: rotate(180deg);
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}

.block {
  display: block;
}
.resets {
  margin-top: 0;
}
.reset {
  text-align: center;
  margin: 0 auto;
  outline: none;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 19px;
}
.reset:hover {
  background: #eee;
  cursor: pointer;
}

.width {
  width: 36px;
  height: 36px;
  border: none;
  border: 2px solid white;
  vertical-align: middle;
  position: relative;
  background-color: rgba(255, 173, 153);
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}
.speed {
  width: 36px;
  height: 36px;
  border: none;
  border: 2px solid white;
  vertical-align: middle;
  position: relative;
  background-color: rgba(255, 173, 153);
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}

.centerSpeed {
  right: 450px;
  position: relative;
}
.hide {
  display: none;
}
.gray {
  background-color: gray;
}
.white {
  background-color: white;
}
.red {
  background-color: rgba(255, 173, 153);
}

.redReset {
  background-color: rgba(255, 173, 153);
}
.redReset:hover {
  background: rgba(128, 255, 170);
}

.disabledButton {
  cursor: not-allowed;
  font-size: 19px;
  padding: 7px 25px;
  border: none;
  background: gray;
  border-radius: 5px;
  color: black;
}

.info {
  width: 36px;
  height: 36px;
  border: none;
  border: 2px solid white;
  vertical-align: middle;
  position: relative;
  background-color: rgba(128, 255, 170);
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}

.close {
  width: 36px;
  height: 36px;
  border: none;
  border: 2px solid white;
  vertical-align: middle;
  position: relative;
  background: rgba(255, 173, 153);
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}
.close:hover {
  background-color: rgba(128, 255, 170);
}

.greenStopWatch {
  background: rgba(128, 255, 170);
}
.redStopWatch {
  background: rgba(255, 173, 153);
}
.swIcon {
  width: 36px;
  height: 36px;
  border: none;
  border: 2px solid white;
  vertical-align: middle;
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 1200px) {
  #defaultCanvas0 {
    position: absolute;
    bottom: 25%;
  }
  .rangesSection {
    display: block;
    margin-top: 5px;
  }
  .resets {
    margin-top: 1px;
  }
}
@media only screen and (max-width: 300px) {
  #defaultCanvas0 {
    position: absolute;
    bottom: 25%;
  }
  .rangesSection {
    display: block;
  }
  .stopwatch {
    width: 125px;
  }
}
