:root {
  --bg-color: #6ec5ff;
  --primary-blue: #009bff;
  --font-color: #000;
  --hover-blue: #0099ffdd;
  --disabled-button-bg: #808080;
}
body {
  overflow: hidden;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
* {
  font-family: "Avenir";
}
#defaultCanvas0 {
  z-index: 1;
  margin: 0 auto;
  display: block;
}
.canvasNormalRotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvasRotation {
  transform: translate(-50%, -50%) rotateX(-180deg);
}
.sync {
  transform: rotate(90deg);
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px;
  width: 100%;
}
nav ul {
  padding: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button-container {
  display: inline-block;
  margin: 0 auto;
}
.buttons {
  margin-top: 20px;
  color: var(--font-color);
  font-size: 14px;
  padding: 5px 15px;
  border: none;
  background-color: var(--primary-blue);
  border-radius: 5px;
}
.buttons:hover {
  cursor: pointer;
  background-color: var(--hover-blue);
}
.resets {
  display: inline-block;
  margin-top: 15px;
}
.reset,
.stopwatch {
  text-align: center;
  margin: 0 auto;
  outline: none;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--primary-blue);
  font-size: 14px;
}
.reset:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}
.hide {
  display: none;
}
.disabledButton,
.disabledButton:hover {
  cursor: not-allowed;
  background-color: var(--disabled-button-bg);
}